.checkin {
  line-height: 1;
  font-family: ProximaNova, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  display: inline-block;
  vertical-align: top;
  width: 90%;
}

.checkin-top {
  line-height: 1;
  font-family: ProximaNova, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

.text {
  font-family: ProximaNova, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 1.125em;
  line-height: 1.2em;
  margin-bottom: 16px;
  font-weight: 150;
}

.text a {
  font-family: ProximaNova, Helvetica, sans-serif;
  line-height: 1.2em;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #8a4500;
  text-decoration: none;
}

.box-flex {
  font-family: ProximaNova, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  width: 90%;
  font-size: 1.2em;
  line-height: 1.2em;
  position: relative;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.checkin-body {
  font-family: ProximaNova, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  width: 90%;
  font-size: 1.2em;
  line-height: 1.2em;
  position: relative;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  font-weight: 150;
}

.show-delete {
  line-height: 1;
  font-family: ProximaNova, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  color: #8a4500;
  text-decoration: none;
  display: inline-block;
  margin: 0 12px 16px 0;
  font-size: 0.8em;
}

.hide-delete {
  visibility: hidden;
}

.profile-pic {
  line-height: 1;
  font-family: ProximaNova, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 12px;
}
.checkin-index-item {
  width: 100%;
}
.checkin-body-bottom {
  display: flex;
}
.checkin-image {
  line-height: 1;
  font-family: ProximaNova, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
  color: #8a4500;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-right: 2%;
  padding-left: 6%;
  width: 30%;
  outline: none;
}

.author-name {
  font-family: ProximaNova, Helvetica, sans-serif;
  line-height: 1.2em;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #8a4500;
  text-decoration: none;
  font-weight: 150;
  max-width: 142px;
}

.like-button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  position: relative;
  text-rendering: auto;
  color: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  cursor: pointer;
  background-color: black;
  box-sizing: border-box;
  font: 18px proximaNova, helvetica, sans-serif;
  padding: 1px 7px;
  border-width: 1px;
  border-radius: 5px;
  width: 69px;
  height: 35px;
  margin-top: 3%;
  float: right;
}
