// .checkIn-form {
//   padding: 17px 17px;
//   flex-grow: 1;
//   border-top: 1px solid gray;
//   background-color: white;
//   width: 70%;
//   height: 500px;
//   margin: auto;
//   margin-top: 50px;
//   overflow: auto;
//   overflow: hidden;
//   margin-bottom: 40px;
//   margin-right: 12%;
//   margin-left: 12%;
//   margin-top: 80px;
//   padding-bottom: 100px;
//   display: flex;
//   justify-content: row;
// }
#slide {
  line-height: 1;
  font-family: ProximaNova,Helvetica,sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  // background: transparent;
  background-color: lightgray;
  padding-top: 80px;
  width: 100%;
  position: absolute;
}

.cont-drink-page {
  line-height: 1;
  font-family: ProximaNova,Helvetica,sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  max-width: 1048px;
  width: 100%;
  margin: 28px auto 64px;
  padding: 0 12px;
  position: relative;
  -webkit-backface-visibility: hidden;
  transition: transform 200ms ease;
}

.main {
  line-height: 1;
  font-family: ProximaNova,Helvetica,sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  margin-top: 0px !important;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  min-height: 1022px;


  .box-drink-page {
    line-height: 1;
    font-family: ProximaNova,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    width: 100%;
    margin-bottom: 16px;
  }
  .content {
    line-height: 1;
    font-family: ProximaNova,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
  }
  
  .top {
    line-height: 1;
    font-family: ProximaNova,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin-bottom: 16px;
    position: relative;
  }
  
  .basic {
    line-height: 1;
    font-family: ProximaNova,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 100%;
    padding-right: 0;
  }
  
  .name {
    line-height: 1;
    font-family: ProximaNova,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    display: inline-block;
    vertical-align: top;
    width: 74%;
    max-width: 74%;
    padding: 4px 0 0;
    box-sizing: border-box;
  }
  .name > h1{
    font-family: ProximaNova,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: 400;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .label {
    line-height: 1;
    font-family: ProximaNova,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    font-size: 100%;
    background: transparent;
    color: #8a4500;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-right: 2%;
    width: 20%;
  }
  .bar-name {
    line-height: 1;
    font-family: ProximaNova,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 1.25em;
    margin-bottom: 6px;
    color: #595959;
  }
  .drink-type-show {
    line-height: 1;
    font-family: ProximaNova,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    color: #595959;
    font-size: 1em;
  }
  .stats {
    line-height: 1;
    font-family: ProximaNova,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .stats  p {
    line-height: 1;
    font-family: ProximaNova,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    color: #595959;
    box-shadow: inset -1px 0 0 0 #eee;
    border-bottom: 1px solid #eee;
    padding: 6px;
    box-sizing: border-box;
  }
  .stat {
    line-height: 1;
    font-family: ProximaNova,Helvetica,sans-serif;
    color: #595959;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    display: block;
    text-transform: uppercase;
    margin-bottom: 2px;
    font-size: .7em;
  }
  .count {    line-height: 1;
    font-family: ProximaNova,Helvetica,sans-serif;
    color: #595959;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 1.4em;}
    .details {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      margin-top: 11px;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      align-items: center;
      display: flex;
      width: 100%;
      height: 100%;
      margin-bottom: 16px;
      border-top: 1px solid #e9e9e9;
      border-bottom: 1px solid #e9e9e9;
    }
    .abv {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      border: 0;
      outline: 0;
      vertical-align: baseline;
      background: transparent;
      border-right: 1px solid #e9e9e9;
      padding: 12px;
      color: #595959;
      text-align: center;
      font-size: 1em;
      flex: 1 1 0;
    }
    .ibu {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      border: 0;
      outline: 0;
      vertical-align: baseline;
      background: transparent;
      border-right: 1px solid #e9e9e9;
      padding: 12px;
      color: #595959;
      text-align: center;
      font-size: 1em;
      flex: 1 1 0;
    }
    .caps {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      margin-right: 8px;
      align-items: center;
      display: flex;
      margin-left: 8px;
      padding: 0;
    }
    .cap-100 {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      width: 20px;
      height: 20px;
      margin-right: 4px;
      background-size: cover;
      background-image: "&#10041";
    }
    .cap-50 {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      width: 20px;
      height: 20px;
      margin-right: 4px;
      background-size: cover;

    }
    .cap {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      background-size: cover;
      width: 20px;
      height: 20px;
      margin-right: 0;
    }
    .num {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      border-right: 1px solid #e9e9e9;
      color: #595959;
      padding: 12px 8px 12px 0;
    }
    .ratings {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      border: 0;
      outline: 0;
      vertical-align: baseline;
      background: transparent;
      padding: 12px;
      color: #595959;
      text-align: center;
      font-size: 1em;
      flex: 1 1 0;
      border-right: 0;
    }
    .actions {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      background: transparent;
      color: #fff;
      vertical-align: top;
      margin-left: 4px;
      position: relative;
      float: right;
      display: inline-block;
      width: 20%;
      
    }
    .actions button {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      padding: 0;
      font-size: 100%;
      background: transparent;
      color: #8a4500;
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      height: 52px;
      width: 52px;
      text-indent: -9999px;
      background-position: center center;
      background-repeat: no-repeat;
      margin-left: 0;
      background-color: #1b8811;
      // background-image: url("app/assets/images/check.jpeg");

      float: right;
    }
    .bottom {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
    }
    .desc {
      font-family: ProximaNova,Helvetica,sans-serif;
      line-height: 1.25em;
      color: #595959;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
    }
    .clear-fix {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      clear: both;
    }
    .filters {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      right: 24px;
      top: 30px;
    }
    .filters span {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      display: inline-block;
      margin-left: 16px;
    }
    .filters a {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      padding: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      color: #8a4500;
      text-decoration: none;
    }
    .current {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      display: inline-block;
      margin-left: 16px;
      font-weight: 600;
    }
    .box-activity {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      width: 100%;
      margin-bottom: 24px;
    }
    .box-content {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      padding: 24px;
      box-sizing: border-box;
      position: relative;
      border-radius: 8px;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    }
    .global-recent-activity {
      line-height: 1;
      font-family: ProximaNova,Helvetica,sans-serif;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      vertical-align: baseline;
      background: transparent;
      margin-bottom: 24px;
      border-bottom: 1px solid #e5e5e5;
      font-size: 1.4em;
      font-weight: 600;
      padding-bottom: 32px;
    }

//    .checkmark {
//     height: 100%;
//     width: 100%;
//   }
//   .check-mark {
//     z-index: 10000;
//     position: relative;
//     display: inline-block;
//     width: 30px;
//     height: 30px;
// }

// .check-mark::before {
//     position: absolute;
//     left: 0;
//     top: 50%;
//     height: 50%;
//     width: 3px;
//     background-color: #336699;
//     content: "";
//     transform: translateX(10px) rotate(-45deg);
//     transform-origin: left bottom;
// }

// .check-mark::after {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     height: 3px;
//     width: 100%;
//     background-color: #336699;
//     content: "";
//     transform: translateX(10px) rotate(-45deg);
//     transform-origin: left bottom;
// }
  .drink-checkin-btn {
    background-image: url("check.jpeg");
    z-index: 2000;
  }
}
.delete-checkin {
  line-height: 1;
  font-family: ProximaNova,Helvetica,sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #8a4500;
  display: inline-block;
  margin: 0 12px 16px 0;
  font-size: .8em;
}

