// .checkIn-form {
//   padding: 17px 17px;
//   flex-grow: 1;
//   border-top: 1px solid gray;
//   background-color: white;
//   width: 70%;
//   height: 500px;
//   margin: auto;
//   margin-top: 50px;
//   overflow: auto;
//   overflow: hidden;
//   margin-bottom: 40px;
//   margin-right: 12%;
//   margin-left: 12%;
//   margin-top: 80px;
//   padding-bottom: 100px;
//   display: flex;
//   justify-content: row;
// }

.drink-show-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 20%;
  right: 20%;
  background-color: rgba(247, 239, 230, 0.349);
  padding: 15px;

    margin-top: 30px;
}

// .drink-show {
//   // float: left;
//   // width: 100%;
//   display: inline-block;
//   box-sizing: border-box;
//   margin: 5px;
//   padding-left: 5px;
//   max-width: 74%;
//   width: 74%;
//   min-height: 100px;
// }

// .drink-row-1-content {
//   flex-direction:  row;
// }

// .drink-show-container h2 {
//   text-align: left;

// }


/* Clear floats after the columns */
// .drink-show-container:after {
//   content: "";
//   display: table;
//   clear: both;
// }

.drink-show-outer {
  margin-top: 30px;
}

.drink-details-show {
  font-style: normal;

  display: inline-block;
  box-sizing: border-box;
  margin: 5px;
  padding-left: 5px;
  max-width: 74%;
  width: 74%;
  min-height: 100px;
}

.drink-details-show p {
  display: flex;
  width: 300px;
  box-sizing: border-box;
  // padding: 2px;
  // margin: 2px;
}


.drink-title-show {
  font-size: 32px;
  font-weight: 400;
}

.bar-name {

  font-size: 20px;
}

.drink-type-show {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

.drink-show-desc-box {
  display: flex;
  // justify-content: center;
  background-color: white;
  width: 680px;
  padding-left: 20px;
  align-self: center;
  justify-content: space-between;
}


// .drink-show-desc-left {
//     margin-left: 20px;
// }



.drink-show-line-outer {
  width: 700px;
  background-color: white;
  align-self: center;
  justify-content: center;
  display: flex;
}

.drink-show-line {
  background-color: white;
  width: 650px;
  border-bottom: 1px solid grey;
  display: inline-block;
}

.drink-show-top {
  position: relative;
  justify-content: row;
}

.drink-show-top p {
  width: 25%;
  margin: 0;
}

