.navbar {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(247, 239, 230, 0.349);
  color: white;
  text-align: center;
  height: 80px;
  border-top: 12px solid rgba(23, 108, 235, 0.774);
  border-bottom: 52px solid rgba(28, 60, 119, 0.76);
  

}

.navbar-logo {
  font-size: 32px;
  margin: 10px;
  margin-left: 10px;
  color: black;
  text-decoration: none;

}


.navbar h4 {
  margin-left: auto;
  text-decoration: none;
}

.nav-button {
 font-size: 14px;
 padding: 2px;
 margin: 10px;
 margin-right: 100px;
}

.nav-button:hover {
  color: grey;
}

.nav-dive {
  color: white;
  font-family: normal;
  margin: 10px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  text-decoration: none;

}



.nav-drinks {
  color: white;
  font-family: inherit;
  margin: 10px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;

}

.top-user-circle {
height: 38px;
min-width: 38px;
font-size: 38px;
background-color: white;
border-radius: 18px;

}

.dropdown-outer {
// float: right;
flex-grow: 2;
}

.dropdown {
float: right;
width: 30px;
}

.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: white;
font-family: inherit;
margin-right: 8px;
border-radius: 16px;
float: right;
min-width: 38px;
position: relative;
padding: 7px 9px;
}
// .arrow-up {
//   width: 0; 
//   height: 0; 
//   border-left: 5px solid transparent;
//   border-right: 5px solid transparent;
//   z-index: 100;
//   border-bottom: 5px solid black;
// }

.dropdown-content {
display: none;
position: absolute;
background-color: grey;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
color: white;
padding-top: 150px;
right: 60px;
top: 6%;
margin-top: 20px;
// padding: 0 0 0 9px;
}

.dropdown-content:after { 
  // content: '⬆';
  // display: flex;
  content:"";
  position: absolute;
  right: 0px;
  top: -17.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 17px 17px;
  border-color: transparent transparent gray transparent;
  z-index:9998;

}

.dropdown-link {
float: none;
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
cursor: pointer;
border-bottom: 1px solid grey;
}

.dropdown-link:hover {
background-color: rgb(153, 146, 146);

}


.dropdown:hover .dropdown-content {
display: block;
}