.navbar {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  // position: fixed;
  background-color: rgba(247, 239, 230, 0.349);
  color: white;
  text-align: center;
  height: 80px;
  border-top: 12px solid rgb(66, 65, 65);
  border-bottom: 52px solid rgba(28, 60, 119, 0.76);
  width: 100%;
  // flex-flow: row wrap;
  flex-grow: 1;
  z-index:1000;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.30);
  // overflow: hidden;
  
}

#nav-links {
  line-height: 1;
  font-family: ProximaNova,Helvetica,sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  width: 100%;
  box-sizing: border-box;
  max-width: 1048px;
  margin: 0 auto;
  padding: 0 12px;
  height: 52px;
  position: relative;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


@media all and (max-width: 800px) {
  .navbar {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-between;
  }
}
@media all and (max-width: 500px) {
  .navbar {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.navbar-logo {
  font-size: 32px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: black;
  text-decoration: none;
  
}
.logo-div {
  float: left;
}

.nav-area {
  display: flex;
  
}





.navbar-dive {
  color: #0e0d0d;
  font-family: inherit;
  margin: 10px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  text-decoration: none;
  float: left;
}


.navbar-drinks {
  color: #0e0d0d;
  font-family: inherit;
  margin: 10px;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  float: left;
  display: block;
  padding: 8px;
  right: -5px;
}

.navbar-bars {
  color: #0e0d0d;
  font-family: inherit;
  margin: 10px;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  float: left;
  display: block;
  padding: 8px;
  right: -5px;
}


.dropdown-outer {
// float: right;
flex-grow: 2;
}

.dropdown {
  justify-content: center;
  position: relative;
  display: inline-block;
  width: 30px;
  color: white;
}
.dropdown .a{
  color: white;
  font-size:0.9em;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
  font-family: inherit;
  background-color: transparent;
}



.dropdown-content {
display: none;
position: absolute;
background-color: rgb(36, 34, 34);
min-width: 160px;
height: 100%;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
font-size: 100%;
line-height: 1;
font-family: ProximaNova,Helvetica,sans-serif;
color: white;

}

.dropdown-content:after { 
  // content: '⬆';
  // display: flex;
  content:"";
  position: absolute;
  right: 70%;
  top: -10.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 17px 17px;
  border-color: transparent transparent rgb(36, 34, 34) transparent;

  z-index:9998;
  
}

.dropdown-link {
  color: white;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
text-align: left;
cursor: pointer;
border-bottom: 1px solid grey;
}

.dropdown:hover .dropdown-content {
display: block;
position: absolute;
}

.profile-img {
      line-height: 1;
    font-family: ProximaNova,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 18px;
    overflow: hidden;
}