// // Place all the styles related to the api::sessions controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
// html { 
//   background: url(https://media.istockphoto.com/vectors/vector-background-with-bar-night-cafe-in-rain-vector-id1007769496?k=6&m=1007769496&s=612x612&w=0&h=tVuH8QlL5A8ql-3PZMk2mbf9eAa8TkHHz1qgOw52kqU=) no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
 body {
   font-family: 'Abel', sans-serif;
 }


.content {
 height: 100%;
}

header {
  margin-top: 5%;
  margin-right: 5%;
  display: flex;
}

.header-content-container{
  width: 1048px;
  display: flex;
  align-items: center;
  
}

.header-name {
  margin: 7px 0 0 0;
  padding: 15px 20px
}


.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.login-input {
  margin-left: 20px;
}


.login-form-box {
  display: block;
  padding: 17px 17px;
  border-radius: 5px;
  background-color: white;
  justify-content: space-around;
  position: relative;
  width: 350px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  z-index: 101;
}
.login-form-box > ul {
  margin-top: 20px;
}
// .logo {
  //   color: rgb(95, 93, 93);
  //   font-size: 75px;
  //   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  //   font-weight: 500;
  
  // }
  
  .header-link {
    text-decoration: none;
    color: rgb(44, 43, 43);
    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 540;
    display: flex;
    font-style: normal;
    line-height: 32px;
    margin-top: 150px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    // position: absolute;
    
    box-sizing: border-box;
  }
  .liver-up {
    margin-top: 20px
  }
  .h1 > a {
    color: rgb(255, 255, 255);
    margin-top: 10px;
    z-index: 102;
  }

hr {
 border-bottom: 1px solid grey;
}

.session-submit {
 text-transform: capitalize;
 
}

// .username {
//   background-image: url("person.png");
// }

// .password {
//   background-image: url("lock.png");
// }

// .email {
//   background-image: url("email.png");
// }

.session-submit {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  position: absolute;
  text-rendering: auto;
  color: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: pointer;
  background-color: black;
  box-sizing: border-box;
  margin: 5px;
  margin-top: 20%;
  margin-left: 7%;
  
  font: 18px proximaNova, helvetica, sans-serif;
  padding: 1px 7px;
  border-width: 1px;
  border-radius: 5px;
 
  width: 300px;
  height:40px;
  border:0px transparent;  
  // border-style: solid;
  // border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  // border-image: initial;
}

.demo-login-button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  position: relative;
  text-rendering: auto;
  color: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: pointer;
  background-color: black;
  box-sizing: border-box;
  margin: 5px;
  font: 18px proximaNova, helvetica, sans-serif;
  padding: 1px 7px;
  border-width: 1px;
  border-radius: 5px;
  width: 300px;
  height:40px;
  border:0px transparent; 
  // display: flex;
  // justify-content: space-around;
  margin-top: 35%;
  
  margin-left: 7%;
}






