/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
  

body {
  font-family: 'Abel', sans-serif;
  min-height:100%;
  // background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size:cover;
  
 
}

.content {
  height: 100%;
}

header {
  margin-top: 5%;
  margin-right: 5%;
  
}

  
.header-name {
    margin: 7px 0 0 0;
    padding: 15px 20px
}
  
  
  
// .header-link {
 
// }
  
.hr {
    border-bottom: 1px solid grey;
    }
  
  .session-submit {
    text-transform: capitalize;
    
  }
 
  
    .background-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // width: 100%;
    object-fit: cover;
    
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
    
  }
  .overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7); /*can be anything, of course*/
}